/* Burguer menu */
.burguer span:nth-child(1) {
  top: 0px;
}

.burguer span:nth-child(2),
.burguer span:nth-child(3) {
  top: 18px;
}

.burguer span:nth-child(4) {
  top: 36px;
}

.burguer.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.burguer.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.burguer.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.burguer.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.userMenuClosed {
  max-height: 40px;
  transition: max-height 2.15s ease-out;
  overflow: hidden;
}

.userMenuClosed {
  max-height: auto;
  transition: max-height 2.25s ease-in;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
